In [1]:
import pandas as pd

In [11]:
!pip install dbfread

Collecting dbfread
  Downloading dbfread-2.0.7-py2.py3-none-any.whl (20 kB)
Installing collected packages: dbfread
Successfully installed dbfread-2.0.7

In [12]:
from dbfread import DBF

In [21]:
dados = DBF('rhc10.dbf')

In [23]:
df = pd.DataFrame(iter(dados))

In [24]:
df.head()

,TPCASO,SEXO,IDADE,LOCALNAS,RACACOR,INSTRUC,CLIATEN,CLITRAT,HISTFAMC,ALCOOLIS,...,UFUH,MUUH,OCUPACAO,DTDIAGNO,DTTRIAGE,DATAPRICON,DATAINITRT,DATAOBITO,VALOR_TOT,BASDIAGSP
0,1,1,016,SC,4,3,26,26,0,0,...,SC,4209102,999,31/08/2010,/ /,30/07/2010,17/08/2010,/ /,1,3
1,1,2,011,SC,1,2,9,9,0,0,...,SC,4209102,999,26/01/2010,/ /,05/01/2010,13/01/2010,/ /,1,3
2,1,1,004,SC,9,9,25,25,0,0,...,SC,4209102,999,09/02/2010,/ /,22/01/2010,25/01/2010,22/02/2010,1,3
3,1,1,002,SC,1,9,9,9,0,0,...,SC,4209102,999,18/02/2010,/ /,25/01/2010,25/01/2010,/ /,1,3
4,1,1,000,RS,1,9,9,9,0,0,...,SC,4209102,999,07/04/2010,/ /,16/03/2010,16/03/2010,02/05/2010,1,3