# 1. Importando as bibliotecas do Python para utilização no projeto

In [1]:
import pandas as pd
import numpy as np

# 2. Importando o arquivo com os dados selecionados

In [16]:
df = pd.read_csv('Data/dados_filtrados.csv', sep = ',', encoding = 'utf-8', low_memory = False, index_col = 1)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 496661 entries, FEMININO to FEMININO
Data columns (total 7 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Código do Paciente             486074 non-null  float64
 1   Idade                          482006 non-null  float64
 2   Raca/Cor                       496661 non-null  object
 3   Estado Endereço                496645 non-null  object
 4   Código da Doenca               496661 non-null  object
 5   Código da Doenca Infantil      170462 non-null  object
 6   Código da Doenca Adulto Jovem  163514 non-null  object
dtypes: float64(2), object(5)
memory usage: 30.3+ MB

In [19]:
dados.columns

Index(['Código do Paciente', 'Idade', 'Raca/Cor', 'Estado Endereço',
       'Código da Doenca', 'Código da Doenca Infantil',
       'Código da Doenca Adulto Jovem'],
      dtype='object')

Retirada da coluna "Código do Paciente".

In [22]:
dados = df[['Idade', 'Raca/Cor', 'Estado Endereço', 'Código da Doenca', 'Código da Doenca Infantil', 'Código da Doenca Adulto Jovem']]
dados

,Idade,Raca/Cor,Estado Endereço,Código da Doenca,Código da Doenca Infantil,Código da Doenca Adulto Jovem
Sexo,,,,,,
FEMININO,68.0,BRANCO,GOIAS,C679,XI-F,8.5.2
FEMININO,46.0,SEM INFORMAÇÃO,GOIAS,C349,XI-F,8.3
FEMININO,88.0,BRANCO,GOIAS,C447,XI-E,7.2
FEMININO,65.0,BRANCO,GOIAS,C435,XI-D,7.1
FEMININO,63.0,BRANCO,GOIAS,C441,XI-E,7.2
...,...,...,...,...,...,...
MASCULINO,68.0,PARDA,RONDONIA,C19,NaN,NaN
FEMININO,24.0,PARDA,RONDONIA,C539,NaN,8.5.4
FEMININO,56.0,BRANCO,RONDONIA,C20,NaN,NaN
MASCULINO,40.0,PARDA,RONDONIA,C169,NaN,NaN
FEMININO,61.0,BRANCO,RONDONIA,C159,NaN,NaN

# 3. Dataframe apenas com dados dos pacientes do sexo FEMININO

In [23]:
dados.query("Sexo == 'FEMININO'")

,Idade,Raca/Cor,Estado Endereço,Código da Doenca,Código da Doenca Infantil,Código da Doenca Adulto Jovem
Sexo,,,,,,
FEMININO,68.0,BRANCO,GOIAS,C679,XI-F,8.5.2
FEMININO,46.0,SEM INFORMAÇÃO,GOIAS,C349,XI-F,8.3
FEMININO,88.0,BRANCO,GOIAS,C447,XI-E,7.2
FEMININO,65.0,BRANCO,GOIAS,C435,XI-D,7.1
FEMININO,63.0,BRANCO,GOIAS,C441,XI-E,7.2
...,...,...,...,...,...,...
FEMININO,54.0,PARDA,RONDONIA,C509,NaN,NaN
FEMININO,55.0,PRETA,RONDONIA,C509,NaN,NaN
FEMININO,24.0,PARDA,RONDONIA,C539,NaN,8.5.4
FEMININO,56.0,BRANCO,RONDONIA,C20,NaN,NaN
FEMININO,61.0,BRANCO,RONDONIA,C159,NaN,NaN

In [25]:
dados_feminino = dados.query("Sexo == 'FEMININO'")

In [26]:
dados_feminino.head()

,Idade,Raca/Cor,Estado Endereço,Código da Doenca,Código da Doenca Infantil,Código da Doenca Adulto Jovem
Sexo,,,,,,
FEMININO,68.0,BRANCO,GOIAS,C679,XI-F,8.5.2
FEMININO,46.0,SEM INFORMAÇÃO,GOIAS,C349,XI-F,8.3
FEMININO,88.0,BRANCO,GOIAS,C447,XI-E,7.2
FEMININO,65.0,BRANCO,GOIAS,C435,XI-D,7.1
FEMININO,63.0,BRANCO,GOIAS,C441,XI-E,7.2

# 4. Identificando os dados presentes em cada coluna

In [42]:
dados_feminino['Raca/Cor'].drop_duplicates()

Sexo
FEMININO            BRANCO
FEMININO    SEM INFORMAÇÃO
FEMININO             PARDA
FEMININO             PRETA
FEMININO           AMARELA
FEMININO          INDÍGENA
Name: Raca/Cor, dtype: object

In [43]:
dados_feminino['Estado Endereço'].drop_duplicates()

Sexo
FEMININO                 GOIAS
FEMININO             SÃO PAULO
FEMININO                 CEARÁ
FEMININO                  ACRE
FEMININO        RIO DE JANEIRO
FEMININO               SERGIPE
FEMININO                  PARÁ
FEMININO          MINAS GERAIS
FEMININO    MATO GROSSO DO SUL
FEMININO          MATO GROSSO
FEMININO                PARANÁ
FEMININO                   NaN
FEMININO      DISTRITO FEDERAL
FEMININO        ESPIRITO SANTO
FEMININO        SANTA CATARINA
FEMININO               PARAÍBA
FEMININO              AMAZONAS
FEMININO             TOCANTINS
FEMININO     RIO GRANDE DO SUL
FEMININO            PERNAMBUCO
FEMININO              RONDONIA
Name: Estado Endereço, dtype: object

In [46]:
dados_feminino['Código da Doenca'].drop_duplicates()

Sexo
FEMININO    C679
FEMININO    C349
FEMININO    C447
FEMININO    C435
FEMININO    C441
            ...
FEMININO     C16
FEMININO    D461
FEMININO    C572
FEMININO    D463
FEMININO    C223
Name: Código da Doenca, Length: 451, dtype: object

In [47]:
dados_feminino['Código da Doenca Infantil'].drop_duplicates()

Sexo
FEMININO      XI-F
FEMININO      XI-E
FEMININO      XI-D
FEMININO      IX-E
FEMININO      VI-B
FEMININO     XII-A
FEMININO     XII-B
FEMININO      II-B
FEMININO     III-F
FEMININO      II-A
FEMININO      XI-B
FEMININO     III-B
FEMININO       NaN
FEMININO      IX-A
FEMININO     VII-B
FEMININO      II-C
FEMININO     III-C
FEMININO    VIII-C
FEMININO       I-E
FEMININO       X-D
FEMININO    VIII-E
FEMININO    VIII-A
FEMININO       I-C
FEMININO       I-D
FEMININO      VI-C
FEMININO     VII-C
FEMININO       X-E
FEMININO      IX-D
FEMININO    VIII-B
FEMININO      II-E
FEMININO       I-A
FEMININO      XI-C
FEMININO      VI-A
FEMININO       I-B
FEMININO      XI-A
FEMININO       X-C
FEMININO     III-D
FEMININO     III-E
FEMININO      IX-C
FEMININO     III-A
FEMININO         V
FEMININO      IV-A
FEMININO      IX-B
FEMININO      II-D
FEMININO       X-A
FEMININO      IV-B
FEMININO       X-B
FEMININO    VIII-D
FEMININO     VII-A
Name: Código da Doenca Infantil, dtype: object

In [48]:
dados_feminino['Código da Doenca Adulto Jovem'].drop_duplicates()

Sexo
FEMININO      8.5.2
FEMININO        8.3
FEMININO        7.2
FEMININO        7.1
FEMININO        NaN
FEMININO        8.4
FEMININO      5.3.2
FEMININO      8.5.1
FEMININO      9.2.4
FEMININO      8.6.1
FEMININO       10.1
FEMININO      8.6.4
FEMININO      8.6.5
FEMININO      9.2.3
FEMININO        3.6
FEMININO        2.2
FEMININO      8.5.4
FEMININO        8.1
FEMININO      8.6.2
FEMININO      3.1.2
FEMININO      8.2.3
FEMININO        5.2
FEMININO        2.1
FEMININO      8.6.3
FEMININO      8.5.5
FEMININO      3.4.1
FEMININO        4.3
FEMININO        1.4
FEMININO      8.5.3
FEMININO        4.4
FEMININO      8.7.2
FEMININO        4.1
FEMININO        1.3
FEMININO      8.2.2
FEMININO      3.1.1
FEMININO    5.3.1.1
FEMININO      3.1.3
FEMININO        4.2
FEMININO        1.1
FEMININO      8.2.1
FEMININO      9.1.1
FEMININO        1.2
FEMININO      8.7.1
FEMININO        6.1
FEMININO        3.2
FEMININO      3.4.2
FEMININO    5.3.1.2
FEMININO        5.1
FEMININO        3.3
FEMININO          5
FEMININO      9.1.3
FEMININO      9.1.2
FEMININO        3.5
FEMININO      6.2.1
FEMININO      6.2.2
FEMININO      9.2.2
FEMININO      9.2.1
Name: Código da Doenca Adulto Jovem, dtype: object

# 5. Dataframe dos dados dos pacientes do sexo FEMININO e residentes no SUDESTE

In [40]:
dados_feminino.loc[dados_feminino['Estado Endereço'].isin(['MINAS GERAIS','SAO PAULO','RIO DE JANEIRO','ESPIRITO SANTO'])]

,Idade,Raca/Cor,Estado Endereço,Código da Doenca,Código da Doenca Infantil,Código da Doenca Adulto Jovem
Sexo,,,,,,
FEMININO,57.0,PRETA,RIO DE JANEIRO,C139,NaN,NaN
FEMININO,64.0,BRANCO,RIO DE JANEIRO,C482,NaN,NaN
FEMININO,40.0,PRETA,RIO DE JANEIRO,C159,NaN,NaN
FEMININO,19.0,PARDA,RIO DE JANEIRO,C491,IX-D,5.3.1.1
FEMININO,54.0,SEM INFORMAÇÃO,RIO DE JANEIRO,C509,NaN,NaN
...,...,...,...,...,...,...
FEMININO,83.0,BRANCO,MINAS GERAIS,C443,NaN,NaN
FEMININO,89.0,BRANCO,MINAS GERAIS,C541,NaN,NaN
FEMININO,55.0,PARDA,MINAS GERAIS,C859,NaN,NaN
FEMININO,82.0,BRANCO,MINAS GERAIS,C447,NaN,NaN
FEMININO,84.0,BRANCO,MINAS GERAIS,C443,NaN,NaN